       * {
           box-sizing: border-box;
           margin: 0;
           padding: 0;
           background-color: darkgrey;
       }
       
       body {
           padding: 50px;
           font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
       }
       
       a {
           color: royalblue;
           font-size: x-large;
       }
       
       img {
           width: 100%;
       }
       
       figure {
           width: 20%;
       }