<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src=" /img/logo-DH.png " alt="Logo Digital House ">
    </figure>
    <br>
    <br>
    <br>
    <br>
    <h1>
        <%= title %>
    </h1>
    <p>Bienvenidos a
        <%= title %>
    </p>
    <br>
    <br>
    <br/>
    <div class="subtit">
        <p><a href="/movies">Lista de Películas</a></p>
        <br>
        <br>
        <br>
        <p><a href="/movies/new ">Lista de Estrenos</a></p>
        <br>
        <br>
        <br>
        <p><a href="/movies/recommended ">Películas Recomendadas con Mejor Rating</a></p>
        <br/>
    </div>


</body>

</html>